@keyframes flickering {
  from,
  to {
    opacity: 1;
  }

  45%,
  55% {
    opacity: 0;
  }
}

.wrapper {
  width: max-content;
  height: 60px;
}

.typePointer {
  color: var(--color-black);
  font-size: 40px;
}

.animationTypePointer {
  animation: 1s infinite step-start flickering;
}
