.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px 0 0 0;
}

.sidebarWrapper {
  width: 240px;
  height: max-content;
}

.sidebarWrapper > * {
  padding: 8px;
}

.contentWrapper {
  width: 680px;
  height: max-content;
  padding: 8px;
}

.descriptionWrapper {
  display: block;
  margin-top: 8px;
  line-height: 220%;
}
