.overviewWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.imageWrapper {
  width: 440px;
  height: 440px;
  overflow: hidden;
  border-radius: 20px;
}

.infoWrapper {
  width: 600px;
}

.listWrapper {
  display: block;
  margin-top: 12px;
  line-height: 200%;
}

.listItem {
  display: flex;
  align-items: start;
}

.sidebar {
  margin-right: 12px;
}

.buttonWrapper {
  margin-top: 32px;
}
