.wrapper {
  width: max-content;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}

.imageWrapper {
  width: 265px;
  height: 265px;
  overflow: hidden;
  border-radius: 12px;
}

.contentWrapper {
  width: 265px;
  height: 76px;
  margin-top: 12px;
}

.contentWrapper > * {
  padding: 4px 0;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
