.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.imageContainer {
  width: 352px;
  height: 352px;
  border-radius: 50%;
  overflow: hidden;
}

.typographyContainer {
  width: max-content;
  height: min-content;
}

.buttonContainer {
  width: max-content;
  height: min-content;
  display: flex;
}
