:root {
  --color-primary: #3483ec;
  --color-black: #454545;
  --color-gray: #767676;
  --width-page: 1140px;
}

* {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
textarea,
a,
ul,
button,
p {
  all: unset;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
