:root {
  --color-primary: #3483ec;
  --color-primary-deep: #263af3;
  --color-black: #454545;
  --color-gray: #767676;
  --color-white: #fff;
  --width-page: 1140px;
}

* {
  box-sizing: border-box;
  color: var(--color-black);
}

html,
body,
h1,
h2,
h3,
h4,
textarea,
a,
ul,
li,
button,
p {
  all: unset;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
