.main {
  width: var(--width-page);
  height: auto;
  min-height: calc(100vh - 200px);
  margin: 0 auto;
}

.projectsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects {
  font-size: 80px;
  font-weight: 700;
  color: var(--color-primary);
  position: relative;
}

.projects::after {
  content: 'Projects';
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 2px var(--color-primary-deep);
  top: -3px;
  left: -3px;
}

.projectsLine {
  width: 40px;
  height: 20px;
  border-bottom: 2px solid var(--color-primary);
}
